---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* responsive profile picture (jinyoung standing in a portuguese field) */

.profile-pic {
    display: flex;
    justify-content: center;
}

#circular {
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 2rem;
    border-radius: 50%;
}

@media screen and (max-width:600px) {

    #circular {
        width: 225px;
        height: 225px;
        margin-top: -3.25rem;
    }

}

