/* some parts modified but no more immediate modifications warranted 09/11/20 JYC */

/**
 * Site header
 */
.site-header {
  border-top: 1.5rem solid $background-color;
  border-bottom: 0.5rem solid $background-color;
  min-height: $spacing-unit * 1.865;
  text-align: center;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 3.25rem;
  font-weight: 550;
  line-height: 3.1rem;
  letter-spacing: -0.07rem;
  color: #AF5E59;

  &,
  &:visited {
    color: #AF5E59;
  }
}

.site-title:hover {
  text-decoration: underline;
}

/* navbar overhaul! previous code was removed */
.navigation-bar {
  list-style: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
}

/*nav link is for journey, longreads, and </>,
essentially all the pages that pop up in navigation bar
that is NOT the last one on the list */
.nav-link {
  margin-right: 1.875em;
  color: #4E6E4E;
  font-size: 1.55rem;

  &:hover {
    color: #000;
  }
}

/*tail link is currently for 'pics',
since its the right-tail end of the nav bar */
.tail-link {
  color: #4E6E4E;
  font-size: 1.55rem;

  &:hover {
    color: #000;
  }
}

// @media screen and (max-width:600px) {
//   .nav-link {
//     margin-right: 14px;
//     font-size: 18px;
//   }
//   .tail-link {
//     font-size: 18px;
//   }

/**
 * Site footer
 */
.site-footer {
  border-top: .75px solid $grey-color-light;
  border-bottom: 1rem solid $background-color;
  padding-bottom: 30px;
  padding-top: 15px;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

/* social tags positioning! */

.social-media-list {
  display: table;
  margin: 0 auto;
}

.social-media-list li, .pagination li {
  float: left;
  margin: 5px 10px 5px 10px;
  font-size: 14px;
}

.contact-list,
.social-media-list {
  list-style: none;
}

.social-media-list li a {
  display: block;
  padding: 7.5px;
  border: 1px solid #828282;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

/* the below classes were not used for customised footer */
.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/* the above classes were not used for customised footer */

/**
 * Page content
 */
.page-content {
  padding: 0px 0;
  flex: 1;
}

.page-heading {
  font-size: 2em;
  line-spacing: 0px;
  line-height: 1;
  margin-top: 25px; /* this will need to be modified once <header> is centered for mobile-responsiveness */
}

.post-list-heading {
  font-size: 2em;
  line-spacing: 0px;
  line-height: 1;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  color: #5759A7;
  display: block;
  @include relative-font-size(1.5);
}


.post-link:hover {
  color: #353535;
  text-decoration: none;
  }

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: 0px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
