---
layout: page
title: 'about'
---

<div class='profile-pic'>
  <img src="{{ site.baseurl }}/assets/images/obidos.jpeg" id='circular' alt='jinyoung standing in a portuguese field'>
</div>

<h3 id="hey-there-">Hey there!</h3>
<h4 id="my-name-is-jin-young-and-i-like-to-write-to-materialise-my-evolving-thoughts-on-life-s-journey-">My name is Jin Young, and I like to write to materialise my evolving thoughts on my life's journey.</h4>
<p>I try to seek new ideas and engage with them intentionally. Building on that principle, <a href="https://jinyoung.xyz/">jinyoung.xyz</a> is a medium on which I share my recent endeavours and hope to live more consciously through writing. </p>
<p>Best way to reach out to me is via <a href="mailto:jinyoungsjourney@gmail.com" target="_blank">email</a>, and <a href="https://jinyoung.xyz/dev/">dev</a> is my creative outlet.</p>
